---
import AuthProtected from "../features/auth/AuthProtected.astro"
import ContactsList from "../features/contacts/ContactsList.astro"
import CreateContactForm from "../features/contacts/CreateContactForm.astro"
import Layout from "../layouts/Layout.astro"
---
<Layout title="App">
  <AuthProtected>
    <main class="h-[calc(100vh-4rem)] flex flex-col gap-8 p-4 max-w-[90rem] mx-auto md:items-center">
      <CreateContactForm/>
      <ContactsList/>
    </main>
  </AuthProtected>
</Layout>